.container{
	text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1000px;
    height: 50%;
    background-color: #ffffff;
    padding: 0;
}

.calendarSwitcher{
	font-size: 30px;
	width: 290px;
    margin: 0 auto;
    padding: 0;
}

tr,th{
	background-color:#c1bdbd;
    box-sizing: border-box;
    width: 150px;
    height: 70px;
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
    border:1px solid black;
}

th:hover{
	color: black;
    background-color: white;
}

.switchButton{
	font-size: 30px;
	height: 40px;
	width: 40px;
	padding: 0;
}

.switchButton.Left{
	float: left;
}

.switchButton.Right{
	float: right;
}

.weekend{
	color: red;
}

.today{
	background-color: #a80000;
	color: white;
}

.inactive{
	color: #514d4d;
	background-color: black;
	opacity: 0.9;
}

.inactive:hover{
	color: #514d4d;
	background-color: black;
	opacity: 0.9;
}

.daysRow:hover{
	background-color: #c1bdbd;
}

.weekend.daysRow:hover{
	color: red;
}

.selected{
	border: 1px solid red;
	background-color: #710575;
}