* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

/* Containers for chat */
.container {
    display: flex;
    margin: 5px 10px 5px 5px;
}

.chat, .users {
    border: 1px solid black;
    padding: 5px;
}

.chat {
    flex: 0 0 70%;
    margin-right: 5px;
}

.users {
    flex: 0 0 30%;
}

.chat-messages, .chat-userlist {
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* Each user in a userlist */
.user {
    border: 1px solid black;
    overflow: hidden;
    flex-shrink: 0;
    margin: 5px 0;
}

.user img {
    float: left;
    border-radius: 50%;
    margin: 3px;
    padding: 10px 0;
}

.user h3, .user p {
    margin: 3px 0;
}

/* Styles for posts */
.post {
    overflow: hidden;
    flex-shrink: 0;
}

.post img {
    float: left;
    margin: 3px;
}

.post h2, .post p {
    margin: 3px 0;
}