body {
    font-family: 'Merriweather', serif;
    background-color: #ECEFF1;
}

#app {
    margin: auto;
    max-width: 768px;
}

.inputData {
    text-align: right;
}

.area {
    display: block;
    min-height: 288px;
    resize: none;
    overflow-y: auto;
    width: 100%;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #0D47A1;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    font-family: inherit;
    margin-bottom: 15px;
}
.area:focus, .calculate:focus {
    outline: none;
    box-shadow: 0 0px 10px #01579B;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}


.calculate {
    padding: 10px 22px;
    font-family: inherit;
    border-radius: 50px;
    border: 2px solid #01579B;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.calculate:hover {
    box-shadow: 0 0px 10px #01579B;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.outputData {
    margin-top: 15px;
}

.outputData div {
    display: flex;
    justify-content: space-between;
    color: #333;
    margin-bottom: 10px;
}

.outputData span {
    font-weight: bold;
}