<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title id='title'>Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="wrap"></div>
    <script src="../scripts/controller.js"></script>
    <script src="../scripts/calendar.js"></script>
    <script src="../scripts/day.js"></script>
    <script src="../scripts/renderer.js"></script>
</body>

</html>