:root{
    --main-color: rgb(40, 169, 243);
    --cell-color:rgb(247, 245, 245);
    --active-color:rgb(10, 9, 31);
    --grey-color:rgb(170, 170, 170);
}

#root{
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: repeat(7, 50px);
    width:400px;
    margin: 0 auto;
    text-transform: uppercase;
    box-sizing: border-box;
    grid-gap:1px;
    font-weight: bold;
    padding: 15px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#root .days-of-week,
#root .days{
    background-color:var(--cell-color);
    box-shadow:0 0 0 1px var(--grey-color);
    text-align: center;
}

#root__nav{
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    grid-row:1/2;
    padding: 10px 0 ;
    color:#fff;
}

.days-of-week{
    padding: 5px;
    font-size: 0.7rem;
    color:var(--active-color);
}

.days{
    font-size: 1.4rem;
    line-height: 50px;
    cursor: pointer;
}

.not_active{
    color:var(--grey-color);
}
.active{
    color:var(--active-color);
}
.weekend{
    color:rgb(255, 28, 28);
}
#root .today{
    color:var(--main-color);
    background-color: #fff;
    line-height: 1.5;
}
.today::after{
    display: block;
    content: "today";
    font-size:10px;
    line-height: 1;
}

#root .highlight{
    background-color: var(--main-color);
    color:#fff;
}

button{
    background-color:var(--main-color);
    border:none;
    color:#fff;
    font-weight: bold;
    width:50px;
}

#prev{
    text-align: start;
}
#next{
    text-align: end;
}