* {
    box-sizing: border-box;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.calendar {
    padding: 0;
    width: 175px;
}
td, th {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top:7px;
    padding-bottom: 8px;
}
th {
    color: grey;
    font-weight: bold;
}
thead>tr.namesOfDays {
    font-size: 0.5em;
}
tbody>tr.namesOfDays {
    font-size: 0.8em;
}
.day { 
    color:gray;
}
.displayedMonth{
    color: dimgray;
    font-weight: bold;
}
.displayedMonth:hover, .selected {
    border: 1px solid grey;
    box-shadow: 
        -1px -1px 3px grey,
        1px 1px 3px grey;
}
.selected {
    background-color: darkkhaki;
}
.currentDay {
    background-color: goldenrod;
}
.container {
    width: 175px;
    margin: 10px 10px;
    background-color: whitesmoke;
 }
.headline {
    width: 100%;
    padding: 5px 5px;    
}
.headline .monthYear {
    display: inline-block;
    width: calc( 100% - 2*16px );
    text-align: center;
    color: dimgray;
    font-weight: bold;
}
.headline .btn.Right {
    float: right;
}
.headline .btn.Left {
    float: left;
}
.headline .btn {
    background-color:  whitesmoke;
    color: dimgray;
    border: 0; 
    font-size: 1em;
    padding: 0;
}
.headline .btn:hover {
    cursor: pointer;
}
.weekends.displayedMonth {
    color:brown;
}
