th, td{
    width: 4em;
    text-align: center;
    padding: 4px;
}

.calendar-header {
    margin-bottom: 10px;
    text-align: center;
}

.calendar-container{
    padding: 10px;
    width: 12em;
    height: 15em
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
    background-image: linear-gradient(#fff, #d3d3d3);
    cursor: default;
}
.activeDay{
    font-weight: 600;
}

.currentDay {
    color: white;
}

.button:hover {
    font-weight: 600;
    cursor: default;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.sundey {
    color: red;
}

.inactiveDay {
    color: grey;
}

.highlighted:hover {
    color: white;
    padding: 1px;
    border: 1px solid black;
    cursor: default;
    
}

.active:active {
    background-color: antiquewhite;
}
