@font-face {
    font-family: 'Simplifica';
    src: url('/fonts/Simplifica.ttf.woff') format('woff'),
        url('/fonts/Simplifica.ttf.svg#Simplifica') format('svg'),
        url('/fonts/Simplifica.ttf.eot'),
        url('fonts/Simplifica.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    /*  background: #fdfdfd; */
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrap {
    width: 750px;
    margin: 0 auto;
    margin-bottom: 5em;
}

a {
    /* color: #454545; */
    color: rgb(209, 205, 226);
    font-size: larger;
    text-decoration: none;
}

p {
    color: rgb(209, 205, 226);
    margin-top: 17px;
    margin-bottom: 17px;
}

.top-group {
    top: 0px;
    margin: 0px;
    padding: 4px 4px 8px 8px;
    border-width: 2px;
    border-bottom: 2px #454545 solid;
    text-transform: lowercase;
    font-family: 'Simplifica';
    font-size: 23px;
}

.top-group a:hover {
    /* color: #e50053;
    border-bottom: 2px #e50053 solid; */

    border-bottom: 2px solid rgb(209, 205, 226);
}

header {
    text-align: left;
    float: left;
    display: block;
}

nav {
    text-align: right;
    display: block;
}

nav a {
    margin-left: 4px;
}

nav .separator {
    border-right: 2px solid #454545;
}

.greeting-block-wrap {
    display: block;
    font-family: 'Simplifica';
    font-size: 30px;
}

.greeting-block {
    display: table-cell;
    padding: 40px 0px 0px 400px;
    text-align: right;
}

.greeting-block p {
    margin: 1em 0px 0px 0px;
}

.title {
    font-size: 205%;
}

.subtitle {
    font-size: 120%;
}

.avatar {
    display: block;
    position: absolute;
    padding: 25px 0px 0px 20px;
}

.avatar img {
    width: 250px;
    height: 250px;
    /* border: whitesmoke solid; */
    border: rgb(209, 205, 226) solid;
    border-width: 5px;
    border-radius: 2%;
}

.greeting-wrap {
    padding: 0px 0px 40px 0px;
}

.information-sections {
    font-family: 'Simplifica';
    font-size: 27px;
    padding-bottom: 8px;
    border-width: 2px;
    border-bottom: 2px #454545 solid;
}

#form-contact p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-title {
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-family: 'Dosis',
        sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 55px;
}

.section-title::before {
    content: "- "
}

.section-title::after {
    content: " -"
}

input,
textarea {
    width: 645px;
    border: 2px solid #ccc;
    border-radius: 2px;
    resize: vertical;
    background: rgba(57, 63, 84, 0.7);
    border-style: none;
    outline: none;
    border-bottom: 2px solid rgb(209, 205, 226);
    font-size: 1rem;
    color: #BFD2FF;
}

input[type=submit] {
    padding: 12px 20px;
    border-radius: 2px;
    cursor: pointer;
    background: rgb(102, 110, 138);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgb(0, 34, 34);
    border-style: none;
    border-bottom: 2px solid rgb(102, 110, 138);
}

input[type=submit]:hover,
input[type=submit]:focus {
    border-bottom: 2px solid rgb(209, 205, 226);
    color: rgb(209, 205, 226);
}

.user_contacts_field {
    width: 280px;
    padding: 12px 20px;
}

.message_field {
    width: 602px;
    height: 150px;
    padding: 12px 20px;
    resize: none;
}

.education,
.skills,
.about {
    padding-left: 6px;
}

.education,
.skills {
    text-align: left;
}

.footer {
    padding: 15px 0px 15px 0px;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-family: 'Dosis',
        sans-serif;
        color: rgb(209, 205, 226);
        font-size: 18px;
}